
/* I added level 3,6,11,16, and from the CSS-Diner. */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* @font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

body {
  background-color: black;
  color: pink;
  text-align: center;
  font-size: 2em;
  font-family: 'Galada', cursive;
}


/* Level 6: Class Selector is added. I changed everything within the class that is titled
flowers. I added a border and made the display block */
.flowers {
  width: 40%;
  border: 2px solid forestgreen;
  display: block;
  margin: auto;
}

img {
  width: 40%;
  padding: 2em;
}

/* Level 3: ID Selector is added. I used this to change the color of a specific header 2 which has the id of "sunflower" */
#sunflower{
  color:yellow;
}

#rose{
  color:crimson;
}

#hib{
  color:salmon;
}

#sun.p{
  color:gold;
}

#tulip{
  color:lightcoral;
}

#tu{
  color:lightcoral;
}


/* Level 11: Combine the Universal Selector is added. I selected everything that was in the
sunflower class and changed the color to gold. */
div.sunflower * {
  color:gold;
}

 /* Level 16: Only Child Pseudo-selector is added. This chose the only child which was
 the bolded. You can tell it's a child because it's nested in the paragraph or <p> tag. I changed the color to red.*/
p b:only-child{
  color:red;
}
/* Level 23: Only of Type Selector is added. The underline tag
 is the only one there, so that's why it is selected. I changed the color 
 to salmon to match the title of the hibiscus.*/
p u:only-of-type{
  color:salmon;
}
