html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fCDCDF;
  color: #F498c2;
  text-align: center;
  font-size: 2em;
}

img{
width: 700px;

}



#sleep{
margin-top: 5%;
display: block;
margin-left: 55%;
width: 100px;
height: 120px;

}
#cloud1 {
  width: 700px;
  height: 500px;
  display: block;
  margin-top: -15%;
  margin-left: 5%;
}


#cloud2 {
  width: 700px;
  height: 300px;
  display: inline-block;
  margin-top: -10%;
  margin-left: 50%;
}

#cloud3 {
  width: 600px;
  height: 400px;
  display: block;
  margin-top: -5%;
  margin-left: 15%;
}

#cloud4 {
  width: 600px;
  height: 400px;
  display: block;
  margin-top: -15%;
  margin-left: 45%;
}

a {
  color:salmon;
}

.sleep{
  width: 300px;
  height: 500px;
}
.cloud {
  text-align: center;
  display: block;
  position: relative;
  top: 50%;
}

.cloud1 {
  position:relative;
  top: 20%;
  left: -10%;
  text-shadow: 3px 5px #fCDCDF;
}

.cloud2 {
  text-align: center;
  display: block;
  position: relative;
  top: -20%;
  left: 5%;
  text-shadow: 3px 5px #fCDCDF;
}

.cloud3 {
  text-align: center;
  display: block;
  position: relative;
  top: 15%;
  text-shadow: 3px 5px #fCDCDF;
}

/* .cloud4 {
  text-align: center;
  display: block;
  position: relative;
  top: 15%;
  text-shadow: 3px 5px #fCDCDF;
} */

.hideme{
  color: #fCDCDF;
}



.my-fun-class {
  width: 50%;
  border: 2px solid limegreen;
  display: block;
  margin: auto;
}

.green{
  color:white;
  width: 50%;
  border: 2px solid limegreen;
  display: block;
  margin: auto;
  background-image: url(assets/crash.gif);
}

.purple{
  color:purple;
  text-shadow: 1px 2px white;
  width: 50%;
  border: 2px solid purple;
  display: block;
  margin: auto;
  background-image: url(assets/eternal.gif);
}
.red{
  color: chocolate;
  width: 50%;
  text-shadow: 1px 2px white;
  border: 2px solid red;
  display: block;
  margin: auto;
  background-image: url(assets/boys.gif);
}

.rage{
  color: chocolate;
  width: 50%;
  text-shadow: 1px 2px white;
  border: 2px solid red;
  display: block;
  margin: auto;
  background-image: url(assets/raka.gif);
}
.chill{
  color: green;
  width: 50%;
  text-shadow: 1px 0px white;
  border: 2px solid green;
  display: block;
  margin: auto;
  background-image: url(assets/minecraft.gif);
}
.want{
  color: yellow;
  width: 50%;
  /* text-shadow: 1px 2px white; */
  border: 2px solid yellow;
  display: block;
  margin: auto;
  background-image: url(assets/animal.gif);
}
.scary{
  color: chocolate;
  width: 50%;
  text-shadow: 1px 0px white;
  border: 2px solid orange;
  display: block;
  margin: auto;
  background-image: url(assets/deceit.gif);
}


.slider{
margin-top: 30%;
display: inline-block;

}
.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.slider-nav li {
  -webkit-box-flex: 2;
  flex: 2;
  text-align: center;
  display: -webkit-box;
  display: flex;
}

img {
  max-width: 100%;
  display: none;
  -webkit-box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
  -moz-box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
  box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
}

img.active {
  display: block;
  -webkit-animation: fadeImg 0.8s;
  -moz-animation: fadeImg 0.8s;
  animation: fadeImg 0.8s;
}

.slider-nav .arrow { flex: 0 0 15%; }

.slider-nav a {
  flex-basis: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.slider-nav span {
  display: block;
  width: 100%;
}

@-webkit-keyframes
fadeImg {  from {
 opacity: 0;
}

to { opacity: 1; }
}

@-moz-keyframes
fadeImg {  from {
 opacity: 0;
}

to { opacity: 1; }
}

@keyframes
fadeImg {  from {
 opacity: 0;
}

to { opacity: 1; }
}

.top-left {
  position: absolute;
  top: 330px;
  left: 530px;
}


 /* IPHONE 6 */
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 1.5em;
    margin-left: 75%;
    text-align: center;
    display: inline-block;
  }

  audio {
    margin-left: 60%;
  }
 #cloud1{
   margin-top: -40%;
   width: 400px;
   height: 200px;
 }

  #cloud2 {
    margin-left: 70%;
    width: 400px;
    height: 200px;

  }

  #cloud3{
    margin-top: -10%;
    margin-left: 10%;
    width: 400px;
    height: 200px;
  }

  #cloud4{
    margin-top: -25%;
margin-left: 80%;
 width: 400px;
 height: 200px;
  }
 .slider{
   margin-left: 300px;
   text-align: center;
   display: inline-block;

 }
 .slider-nav{
   margin-left: 300px;
   text-align: center;
   display: inline-block;

 }
}

/* IPHONE 6 PLUS */
@media only screen and (max-width: 1080px) {
  h1 {
    font-size: 1.5em;
    margin-left: 65%;
    text-align: center;
    display: inline-block;
  }

  audio {
    margin-left: 60%;
  }
 #cloud1{
   margin-top: -40%;
   width: 400px;
   height: 200px;
 }

  #cloud2 {
    margin-left: 70%;
    width: 400px;
    height: 200px;

  }

  #cloud3{
    margin-top: -10%;
    margin-left: 10%;
    width: 400px;
    height: 200px;
  }

  #cloud4{
    margin-top: -25%;
margin-left: 80%;
 width: 400px;
 height: 200px;
  }
 .slider{
   margin-left: 300px;
   text-align: center;
   display: inline-block;

 }
 .slider-nav{
   margin-left: 300px;
   text-align: center;
   display: inline-block;

 }
}

/* IPHONE X */
@media only screen and (max-width: 1125px) {
  h1 {
    font-size: 1.5em;
    margin-left: 65%;
    text-align: center;
    display: inline-block;
  }

  audio {
    margin-left: 60%;
  }
 #cloud1{
   margin-top: -40%;
   width: 400px;
   height: 200px;
 }

  #cloud2 {
    margin-left: 70%;
    width: 400px;
    height: 200px;

  }

  #cloud3{
    margin-top: -10%;
    margin-left: 10%;
    width: 400px;
    height: 200px;
  }

  #cloud4{
    margin-top: -25%;
margin-left: 80%;
 width: 400px;
 height: 200px;
  }
 .slider{
   margin-left: 300px;
   text-align: center;
   display: inline-block;

 }
 .slider-nav{
   margin-left: 300px;
   text-align: center;
   display: inline-block;

 }
}
