html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fCDCDF;
  color: #F498c2;
  text-align: center;
  font-size: 2em;
}

img{
width: 700px;

}

#cloud1 {
  width: 700px;
  height: 500px;
  display: block;
  margin-top: -30%;
  margin-left: 5%;
}

#cloud2 {
  width: 700px;
  height: 300px;
  display: block;
  margin-left: 50%;
}

.cloud {
  text-align: center;
  display: block;
  position: relative;
  top: 70%;
}

.cloud1 {
  position:relative;
  top: 20%;
  left: -10%;
  text-shadow: 3px 5px #fCDCDF;
}

.cloud2 {
  position:relative;
  top: -10%;
  left: 5%;
  text-shadow: 3px 5px #fCDCDF;
}




.my-fun-class {
  width: 50%;
  border: 2px solid limegreen;
  display: block;
  margin: auto;
}



.top-left {
  position: absolute;
  top: 330px;
  left: 530px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
